.App {
    text-align: center;
}

.footer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #30A8E6; /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius: 4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.outer {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 50px auto;
    ;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}


ul {
    list-style: none; /*убираем маркеры списка*/
    margin:25px 0 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    /*делаем отступ сверху*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: #30A8E6; /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius: 4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

a:hover {
    background: #1C85BB; /*добавляем эффект при наведении*/
}

li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    margin-right: 5px; /*Добавляем отступ у пунктов меню*/

}

.Table {

    /*text-align: center;*/
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}


.Line {
    width: 300px;
    border-top: 3px solid #9EC1D4;
    /*border-bottom: dotted 3px #9EC1D4;*/
    padding-left: 10px
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}